/* public/ul-rate-of-return.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
}

/* Smooth Transition for Learn More Section */
.learn-more {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
}


input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 4px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 4px;
}

button {
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #3b82f6;
}

footer {
    text-align: center;
    max-width: 400px;
    margin-top: 16px;
}

/* End Value Styling */
#endValue {
  background-color: #f3f4f6; /* Light gray */
  font-weight: bold;
  cursor: not-allowed; /* Show it's not editable */
}
